.index-bg.container.is-fluid
  %span.bg-source-link
    %a{:href => "https://unsplash.com/@patrickian4?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge", :rel => "noopener noreferrer", :style => "background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, \"San Francisco\", \"Helvetica Neue\", Helvetica, Ubuntu, Roboto, Noto, \"Segoe UI\", Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;", :target => "_blank", :title => "Download free do whatever you want high-resolution photos from Patrick Fore"}
      %span.icon
        %i.fas.fa-camera
      %span{:style => "display:inline-block;padding:2px 3px;"}
        Patrick Fore
