%footer.footer.default-container
  .container
    .content.has-text-centered
      Contactez-moi
  %hr
  .container
    .columns
      .column
        %span.icon
          %i.fab.fa-linkedin
        %a{:href => 'https://www.linkedin.com/in/guillaume-faure-dumont'}<>
          Guillaume Faure-Dumont
      .column
        %span.icon
          %i.fas.fa-envelope
        %a{:href => 'mailto:g.fauredumont@gmail.com'}
          g.fauredumont@gmail.com
        %br
        %span.icon
          %i.fas.fa-phone
        %a{:href => 'tel:+33682412447'}
          (0)6.82.41.24.47
      .column
        %div
          %span.icon
            %i.fas.fa-building
        %div
          11 rue de Valence
          %br
          75005 Paris
