%footer.footer.default-container
  .columns
    .column
      .fa-2x
        %i.fab.fa-linkedin.fa-pull-left
      %a{:href => 'https://www.linkedin.com/in/guillaume-faure-dumont'}<>
        Guillaume Faure-Dumont

    .column
      .fa-2x
        %i.fas.fa-paper-plane.fa-pull-left
      %a{:href => 'mailto:g.fauredumont@gmail.com'}
        g.fauredumont@gmail.com

    .column
      .fa-2x
        %i.fas.fa-phone.fa-pull-left
      %a{:href => 'tel:+33682412447'}
        (0)6.82.41.24.47

    .column
      .fa-2x
        %i.fas.fa-map-pin.fa-pull-left
      %a{:href => 'https://goo.gl/maps/S9ZLSgCQEtj'}
        Paris 13, France
