%nav.navbar{'aria-label' => 'main navigation', :role => 'navigation'}
  - unless ((defined? @page) && (@page == 'index'))
    .navbar-brand
      %a.navbar-item{:href => "/"}
        %img{:alt => 'Guillaume FAURE-DUMONT', :src => 'img/portraits/indo_cybercafe.png'}/
      %a.navbar-item{:href => "/"}
        %h1
          Guillaume FAURE-DUMONT
      .navbar-burger
        %span
        %span
        %span
  .navbar-menu
    .navbar-end
      .navbar-item
        %a{:href => '/cv'} CV
      .navbar-item
        %a{:href => '/webdev'} Développeur Web
      .navbar-item
        %a{:href => '/constat'} Constat
      .navbar-item
        %a{:href => '/methode'} Méthode
      .navbar-item
        %a{:href => '/partager'} Partager
      .navbar-item
        %a{:href => '/technologies'} Technologies
      .navbar-item
        %a{:href => '/zikme'} ZikMe.org
