%nav.navbar{'aria-label' => 'main navigation', :role => 'navigation'}
  .navbar-brand
    %a.navbar-item{:href => "https://gfd-portfolio.herokuapp.com"}
      %img{:alt => 'Guillaume FAURE-DUMONT', :height => '28', :src => 'img/gfd.jpg', :width => '112'}/
    .navbar-burger
      %span
      %span
      %span
  .navbar-menu
    .navbar-end
      .navbar-item
        %a{:href => '/cv'} CV
      .navbar-item
        %a{:href => '/webdev'} Développeur Web
      .navbar-item
        %a{:href => '/constat'} Constat
      .navbar-item
        %a{:href => '/methode'} Méthode
      .navbar-item
        %a{:href => '/partager'} Partager
      .navbar-item
        %a{:href => '/technologies'} Technologies
      .navbar-item
        %a{:href => '/zikme'} ZikMe.org



