.container.default-container
  Ingénieur
  %a{:href => 'http://www.epita.fr/'}
    EPITA
  promo 2005
  %br
  Spécialisation
  %a{:href => 'http://www.epita.fr/cursus-cycle-ingenieur-majeures.aspx'}
    Systèmes d'Information & Génie Logiciel
  %hr

  J'ai commencé ma carrière en tant que développeur C# puis avant/après-vente technique
  %br
  IMG=> 4D concept, Sidetrade, BDNA
  %br
  J'ai ensuite pris le rôle d'Architecte logiciel sur différents projets, en particulier pour certaines des plus grandes banques de France
  %br
  IMG=> Calyon, LBPAM, BNPP, SG
  %br
  En 2013 j'ai changé de voie et suis passé au développement Web avec Ruby on Rails pour créer
  ZikMe.org, l'encyclopédie collaborative de la musique
  %br
  Je continue à travailler sur ce projet avec l'aide d'élèves (que je forme au cycle de vie d'un projet informatique web) mais suis propose aussi mes services de développeur full stack Ruby on Rails
  %br
  HiveBrite, CYB, Tracktor
  %br
  Depuis 2016, j'aide les créateurs de startup à mieux comprendre les défis techniques qui les attendent, ce qui leur permet entre autre de mieux recruter leur équipe technique et de rendre celle-ci plus efficace.
  %br
  Depuis 2013, je suis membre actif de la communauté Ruby de Paris, en particulier grâce au Meetup ParisRB.
  %br
  J'ai été mentor pour le collectif féministe Women On Rails
  %br
  Je suis organisateur et mentor du groupe d'entraide Mentors on Rails
  %br
  Je donne des cours dans le Bootcamp de formation The_Hacking_Project
  %br
  Je donne des cours à l'Ecole Supérieur de Génie Informatique
