.container.default-container
  .section
    .columns
      .column
        %strong
          Ingénieur
          %a{:href => 'http://www.epita.fr', :target => '_blank'}
            EPITA
          promo 2005 - Spécialisation
          %a{:href => 'http://www.epita.fr/cursus-cycle-ingenieur-majeures.aspx', :target => '_blank'}
            Systèmes d'Information & Génie Logiciel
        %br
        Développeur web full stack
        %strong
          Ruby on Rails

      .column.is-3
        %img.img-logo{:alt => 'EPITA', :src => 'img/logos/epita.png'}/
        %img.img-logo{:alt => 'EPITA', :src => 'img/logos/ruby.png'}/
        %img.img-logo{:alt => 'EPITA', :src => 'img/logos/rails.png'}/

    .columns
      .column
        J'aide les créateurs de
        %strong
          startups
        à mieux comprendre les
        %strong
          défis techniques
        qui les attendent: j'aborde divers aspects tels que la
        %strong
          méthodologie, l'architecture, le code review, le recrutement
        , et tout ce qui peut augmenter l'efficacité de l'équipe technique en général.

    %hr

    .columns
      .column.is-2
        %img.img-logo{:alt => 'Sidetrade', :src => 'img/logos/sidetrade.png'}/
        %img.img-logo{:alt => 'BDNA', :src => 'img/logos/bdna.png'}/
      .column
        J'ai commencé ma carrière en tant que développeur C# puis ai travaillé un an en tant qu'
        %strong<>
          avant & après-vente technique

    .columns
      .column
        J'ai ensuite pris le rôle d'
        %strong
          architecte logiciel
        sur différents projets, en particulier pour certaines des plus grandes
        %strong
          banques de France

      .column.is-3
        %img.img-logo{:alt => 'Calyon', :src => 'img/logos/calyon.png'}/
        %img.img-logo{:alt => 'La banque Postale Asset Management', :src => 'img/logos/lbpam.png'}/
        %img.img-logo{:alt => 'BNP Paribas', :src => 'img/logos/bnpp.png'}/
        %img.img-logo{:alt => 'Société Générale', :src => 'img/logos/sg.jpg'}/

    .columns
      .column.is-2
        %img.img-logo{:alt => 'Hivebrite', :src => 'img/logos/hivebrite.png'}/
        %img.img-logo{:alt => 'Choose Your Boss', :src => 'img/logos/cyb.png'}/
        %br
        %img.img-logo{:alt => 'Tracktor.fr', :src => 'img/logos/tracktor.png'}/
        %img.img-logo{:alt => 'LeCloset.fr', :src => 'img/logos/lecloset.png'}/
      .column
        En 2013 j'ai changé de voie et suis passé au
        %strong
          développement web
        avec Ruby on Rails pour créer
        %a{:href => 'http://www.ZikMe.org', :target => '_blank'}
          ZikMe.org
        , l'
        %strong<>
          encyclopédie collaborative de la musique
        %br
        Je continue à travailler sur ce projet avec l'aide d'élèves (que je forme au cycle de vie d'un projet informatique web) mais propose aussi mes services de développeur full stack Ruby on Rails et aide les startups à
        %a{:href => '/methode'}
          améliorer la productivité de leur équipe technique par divers angles

    .columns
      .column
        Depuis 2013, je suis
        %strong
          membre actif de la communauté Ruby
        de Paris, en particulier grâce au Meetup
        %a{:href => 'https://www.meetup.com/fr-FR/parisrb/', :target => '_blank'}
          ParisRB.
        %br
        J'ai été mentor pour le collectif féministe
        %a{:href => 'http://www.womenonrails.com', :target => '_blank'}
          Women On Rails
        %br
        Je suis
        %strong
          organisateur et mentor
        du groupe d'entraide Mentors on Rails
        %br
        Je donne des cours et suis membre du jury pour le Bootcamp de formation
        %a{:href => 'https://www.thehackingproject.org', :target => '_blank'}
          The_Hacking_Project
        %br
        Je donne des
        %strong
          cours
        à l'
        %a{:href => 'http://www.esgi.fr', :target => '_blank'}<>
          Ecole Supérieur de Génie Informatique
      .column.is-3
        %img.img-logo{:alt => 'ParisRB', :src => 'img/logos/parisrb.jpeg'}/
        %img.img-logo{:alt => 'Women On Rails', :src => 'img/logos/wor.jpeg'}/
        %br
        %img.img-logo{:alt => 'The Hacking Project', :src => 'img/logos/thp.png'}/
        %img.img-logo{:alt => 'ESGI', :src => 'img/logos/esgi.png'}/

    %hr

    .columns
      .column.level
        .level-item.has-text-centered
          %strong
            Vous trouverez mon CV complet et détaillé sur mon
            %a{:href => 'https://www.linkedin.com/in/guillaume-faure-dumont', :target => '_blank'}
              profil LinkedIn
