Guillaume FAURE-DUMONT
%hr

%a{:href => '/cv'} CV
%br
%a{:href => '/webdev'} Développeur Web
%br
%a{:href => '/constat'} constat
%br
%a{:href => '/methode'} methode
%br
%a{:href => '/partager'} partager
%br
%a{:href => '/technologies'} technologies
%br

%hr
Je suis&nbsp
%a{:href => '/webdev'}<>
  développeur web
, j'améliore&nbsp
%a{:href => '/methode'}<>
  l'efficacité
&nbspde votre équipe technique et suis&nbsp
%a{:href => '/partager'}<>
  mentor
&nbspdans différents groupes de formation
