Guillaume FAURE-DUMONT
%hr

%a{:href => '/cv'} CV
%br
%a{:href => '/constat'} constat
%br
%a{:href => '/methode'} methode
%br
%a{:href => '/partager'} partager

%hr
J'aide l'équipe technique de votre startup à gagner en efficacité
