Guillaume FAURE-DUMONT
%hr

%a{:href => '/cv'} CV
%br
%a{:href => '/webdev'} Developpeur Web
%br
%a{:href => '/constat'} constat
%br
%a{:href => '/methode'} methode
%br
%a{:href => '/partager'} partager
%br
%a{:href => '/technologies'} technologies
%br

%hr
J'aide votre équipe technique à gagner en efficacité
