%h1.title
  Guillaume FAURE-DUMONT
%p.subtitle
  J'aide des startup numériques à&nbsp
  %a{:href => '/methode'}<>
    augmenter leur productivité technique
  %br
  Je suis aussi&nbsp
  %a{:href => '/webdev'}<>
    développeur full stack Ruby On Rails
  %br
  Je suis le co-fondateur de&nbsp
  %a{:href => '/zikme'}<>
    ZikMe.org
  , l'encyclopédie collaborative de la musique
  %br
  Je&nbsp
  %a{:href => '/partager'}<>
    partage
  &nbspaussi mes connaissances dans divers groupes de formation/mentorat
  %br
  Mon CV&nbsp
  %a{:href => '/cv'}<>
    version courte
  &nbsp/&nbsp
  %a{:href => 'https://www.linkedin.com/in/guillaume-faure-dumont', :target => '_blank'}<>
    complet (sur LinkedIn)
