La connaissance est une de ces rares ressources dont les échanges sont à somme positive
%br
EPITA, ACD, ACU, Yaka, Ing#
%br
Communauté Ruby de Paris (ParisRB, WomenOnRails, Workshop, RubyMentors)
%br
ESGI
%br
AJC-formation
