.container.default-container
  .section
    %strong
      Je suis développeur Full Stack Ruby on Rails
    %br
    %br
    .columns
      .column
        Après quelques années à travailler sur des application lourdes (installées sur les machines) en banques (Calyon, La Banque Postale Asset Management, BNP Paribas et Société Générale), je me suis réorienté vers le développement web et en particulier sur des outils adaptés pour les startups.
      .column.is-3
        %img.img-logo{:alt => 'sg', :src => 'img/logos/sg.jpg'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/bnpp.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/lbpam.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/calyon.png'}/

    .columns
      .column.is-1
        %img.img-logo{:alt => 'sg', :src => 'img/logos/ruby.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/rails.png'}/
      .column
        J'utilise le framework
        %strong
          Ruby on Rails
        (RoR); celui-ci, basé sur le langage ruby permet de
        %strong
          prototyper une application web en quelques jours
        tout en permettant de tenir une importante charge par la suite (AirBnB est codé en RoR).
        Ce freamework a de nombreux avantages mais l'un des principaux à mes yeux est qu'il prend en compte la similarité de certaines briques techniques entre de nombreux projets ; du coup, au lieu de réinventer la roue, on va partir de la meilleure version de roue actuellement disponible (et l'améliorer si besoin), c'est déjà ça de temps économisé !

    .columns
      .column
        L'immense majorité des outils et briques techniques utilisés par RoR sont
        %strong
          libres, gratuits et open-source,
        ce qui permet de
        %strong
          limiter le coût total d'un projet.
        Il reste évidemment l'hébergement qui ne peut pas être gratuit... ainsi que le développement en lui-même !

        %br
        Je suis qualifié de
        %strong
          développeur Full Stack
        car je peux travailler sur l'intégralité du projet d'application web : du serveur qui héberge l'application et la base de données qui stocke ses connaissances jusqu'à l'affichage sur le navigateur de l'utilisateur.
      .column.is-1
        %img.img-logo{:alt => 'sg', :src => 'img/logos/opensource.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/linux.png'}/

    .columns
      .column
        Néanmoins, je ne suis pas designer : je peux mettre en place une interface utilisateur agréable mais créer de nouvelles icônes ou dessiner votre logo ne relève pas de ma compétence ! Un designer fera ça mieux que moi (et pour probablement moins cher ;) ).
    .columns
      .column.is-1
        %img.img-logo{:alt => 'sg', :src => 'img/logos/pivotaltracker.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/trello.png'}/
      .column
        Je travaille en
        %strong
          mode agile :
        en étroite collaboration avec le client afin de permettre de "corriger le tir" aussi finement que possible, me faisant économiser du temps (et vous de l'argent).
        %br
        Je préconise l'utilisation de
        %a{:href => 'https://www.linkedin.com/in/guillaume-faure-dumont', :target => '_blank'}
          Pivotal Tracker
        pour le suivi des tâches quand le projet est un peu important, mais un
        %a{:href => 'https://www.linkedin.com/in/guillaume-faure-dumont', :target => '_blank'}
          Trello
        peut parfois suffire.
        %br
        Pour un projet important, je propose toujours l'implémentation de tests (pourquoi pas en TDD) ; auquel cas, mettre en place une procédure d'Intégration Continue (CI) est toujours très rentable. La solution la moins chère est probablement
        %a{:href => 'https://www.gitlab.com', :target => '_blank'}
          GitLab,
        mais d'autres solutions sont envisageables.


    .columns
      .column
        Pour ce qui est de la stack technique, voici les outils que j'utilise le plus souvent, ceux en gras étant ceux que je préfère :
        %br
        %strong
          Docker (avec docker-compose),
        VMware, Linux,
        %strong
          PostgreSQL,
        MySQL, Oracle, MsSQL, RDS,
        %strong
          Ruby On Rails,
        Sinatra, Elastic Search, Delayed Jobs, Sidekiq, Redis,
        Gems: Devise, pundit,
        Tests: minitest,
        %strong
          Rspec
        Capybara, Cucumber
      .column.is-3
        %img.img-logo{:alt => 'sg', :src => 'img/logos/docker.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/postgres.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/sidekiq.png'}/
        %img.img-logo{:alt => 'sg', :src => 'img/logos/rspec.png'}/
