.container
  Je suis développeur Full Stack Ruby on Rails
  %br
  Intro
  %br
  Après quelques années à travailler sur des application lourdes (installées sur les machines) en banques (Calyon, La Banque Postale Asset Management, BNP Paribas et Société Générale), je me suis réorienté vers le développement web et en particulier sur des outils adaptés pour les startup:

  J'utilise le framework Ruby on Rails (RoR); celui-ci, basé sur le langage ruby permet de prototyper une application web en quelques jours tout en permettant de tenir une importante charge par la suite (AirBnB est codé en RoR).
  Ce freamework a de nombreux avantages mais l'un des principaux à mes yeux est qu'il prend en compte la similarité de certaines briques techniques entre de nombreux projets; du coup, au lieu de réinventer la roue, on va partir de la meilleure version de roue actuellement disponible (et l'améliorer si besoin), c'est déjà ça de temps économisé !
  %br
  L'immense majorité des outils et briques techniques utilisés par RoR sont libres, gratuits et open-source, ce qui permet de limiter le coup du développement.
  Il reste évidemment l'hébergement qui ne peux pas être gratuit... ainsi que le développement en lui-même !
  %br
  Je suis qualifié de développeur Full Stack car peux travailler l'intégralité du projet d'application web: du serveur qui héberge l'application et la base de données qui stock ses connaissances jusqu'à l'affichage sur le navigateur de l'utilisateur.
  %br
  Je ne suis par contre pas designer: je peux mettre en place une interface utilisateur agréable mais ne suis pas bon à créer de nouvelles icônes ou dessiner votre logo ! Un designer fera ça mieux que moi (et pour probablement moins cher ;) ).
  %br
  Je travaille en mode agile: en étroite collaboration avec le client afin de permettre de "corriger le tir" aussi finement que possible, me faisant économiser du temps (et vous de l'argent). Je préconise l'utilisation de Pivotal Tracker pour le suivi des tâches quand le projet est un peu important, mais un Trello peut parfois suffir.
  %br
  Pour ce qui est de la stack technique, voici les outils que j'utilise le plus souvent, ceux en gras étant ceux que je préfère:
  %br
  Docker (avec docker-compose), VMware, Linux
  PostgreSQL, MySQL, Oracle, MSSQL, RDS
  Ruby On Rails, Elastic Search, Delayed Jobs, Sidekiq, Redis
  Gems: Devise, pundit,
  Tests: minitest, Rspec
