.container.default-container
  .section
    %strong
      %a{:href => 'www.ZikMe.org', target: '_blank'} ZikMe.org
      est l'Encyclopédie collaborative de la musique
    %br
    .columns
      .column
        Un espace pour regrouper l'ensemble de la connaissance musicale, libre et gratuit, que chacun peut améliorer et enrichir.
        %br
        Oui, c'est un
        %strong Wikipedia de la musique
        , mais à deux différences près:
        %ul
          %li
            \- Donner son avis sur ZikMe est
            %strong facile
            \: il suffit de cliquer sur l'icone de piano du morceau pour indiquer qu'on y a entendu du piano !
            (et on a même le
            %strong droit de se tromper
            \!)
          %li
            \- Vous pouvez aussi indiquer à ZikMe
            %strong vos goûts
            (est-ce que j'aime ce morceau, est-ce que je le trouve joyeux...), cela vous permettra par la suite de bénéficier d'une
            %strong recommandation musicale
            hors du commmun ;)

    .columns
      .column
        Je me sers de ZikMe comme
        %strong laboratoire de formation
        pour mes élèves:
        %br
        Certaines personnes que je rencontre dans les groupes de formation ou aux
        %a{href: 'https://www.meetup.com/fr-FR/parisrb/', target: '_blank'} MeetUp
        veulent gagner en productivité ou tout simplement travailler sur un plus gros projet histoire d'en avoir plus à dire en entretien ;)
        %br
        Ca tombe bien, ZikMe étant un projet libre et gratuit, j'ai un peu de mal à rémunérer des gens pour travailler dessus ! Du coup, je propose aux développeurs juniors+ de les former au travail en équipe sur un projet complexe contre de l'aide sur le projet.

    .columns
      .column

        .note
          %h1
            %strong Si ça vous intéresse
          %br
          Vous devez:
          %ul
            %li
              \- avoir créé et mis en prod au moins un projet Ruby on Rails (type
              %a{href: 'https://www.lewagon.com', target: '_blank'} LeWagon,
              %a{href: 'https://www.thehackingproject.org', target: '_blank'} THP,
              %a{href: 'https://simplon.co', target: '_blank'} Simplon,
              etc...)
            %li - avoir au moins quelques heures de travail par semaine dispos
            %li - être sur de pouvoir tenir cette charge au moins 2 mois
          %br
          Ce que vous apprendrez (par la pratique):
          %ul
            %li - le travail en équipe avec des personnes de différents niveaux technico-fonctionnels
            %li
              \- la méthodologie agile SCRUM (avec
              %a{href: 'https://www.pivotaltracker.com', target: '_blank'}< Pivotal Tracker
              )
            %li
              \- le Test Driven Development (TDD) avec Rspec et
              %a{href: 'https://about.gitlab.com/features/gitlab-ci-cd/', target: '_blank'}GitLab CI



